<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>SearchRoomsServlet</servlet-name>
    <servlet-class>com.demo.SearchRoomsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.demo.BookingServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RentingServlet</servlet-name>
    <servlet-class>com.demo.RentingServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.demo.DeleteEmployeeServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeleteHotelServlet</servlet-name>
    <servlet-class>com.demo.DeleteHotelServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.demo.DeleteCustomerServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeleteRoomServlet</servlet-name>
    <servlet-class>com.demo.DeleteRoomServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>InsertRoomServlet</servlet-name>
    <servlet-class>com.demo.InsertRoomServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>InsertHotelServlet</servlet-name>
    <servlet-class>com.demo.InsertHotelServlet</servlet-class>

  </servlet>

  <servlet>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>com.demo.EditCustomerServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>com.demo.UpdateCustomerServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>EditHotelServlet</servlet-name>
    <servlet-class>com.demo.EditHotelServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UpdateHotelServlet</servlet-name>
    <servlet-class>com.demo.UpdateHotelServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SearchRoomsServlet</servlet-name>
    <url-pattern>/searchRooms</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/bookingServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RentingServlet</servlet-name>
    <url-pattern>/RentingServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DeleteHotelServlet</servlet-name>
    <url-pattern>/DeleteHotelServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DeleteRoomServlet</servlet-name>
    <url-pattern>/DeleteRoomServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>

    <servlet-name>InsertRoomServlet</servlet-name>
    <url-pattern>/InsertRoomServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>InsertHotelServlet</servlet-name>
    <url-pattern>/InsertHotelServlet</url-pattern>

  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>

  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditHotelServlet</servlet-name>
    <url-pattern>/EditHotelServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UpdateHotelServlet</servlet-name>
    <url-pattern>/UpdateHotelServlet</url-pattern>
  </servlet-mapping>


</web-app>
